/* Custom CSS for 94% width */
.carousel-item img {
    width: 90%;
    height: 550px;
    margin-top: 10px; 
    display: block;
  }

  .carousel-container-fluid {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .carouselcaption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
 }
  
  .carousel-caption p {
    color: #000; 
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  
  .carousel-button {
    margin-top: 1rem; 
    background-color: green;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .carousel-button:hover {
    background-color: green; 
    transform: scale(1.1); 
  }
  
  .text-center {
    margin-top:30px;
  }
  .offer-card {
    text-align: center;
    margin-left: 40px;
    transition: transform 0.3s ease-in-out;
  }
  
  .offer-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    
  }
  
  .offer-img {
    max-height: 200px;
    object-fit: cover;
  }
  
  h3 {
    font-size: 1.25rem;
    color: #333;
  }
  
  .offer-btn1{
    width: 60%;
    border: none;
    background-color: white;
  }
  .offer-btn1:hover{
    background-color: green;
  }
  @media (max-width: 768px) {
    .carousel-container {
      padding: 10px;
      background-color: #f1f1f1; 
    }
  
    .offer-card {
      margin: 10px 0;
      transform: none; 
      box-shadow: none; 
    }
  
    .offer-img {
      max-height: 150px; 
    }
  
    h3 {
      font-size: 1rem; 
      color: #555; 
    }
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-card {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .service-icon {
    font-size: 2.5rem;
    color: #ff69b4;
    margin-bottom: 10px;
  }
  
  .service-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .service-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
  }
  
  #contact {
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); 
  }
  
  #contact h2 {
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  #contact .form-control {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3); 
  }
  
  #contact .form-control:focus {
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 
  }
  
  #contact textarea.form-control {
    resize: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3); 
  }
  
  #messagebtn button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #26b621;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4); 
  }
  
  #messagebtn button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.6); 
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    #contact {
      padding: 30px 15px;
    }
  
    #contact h2 {
      font-size: 1.8rem;
    }
  
    #messagebtn button {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }      
   

/* Collection.css */
.collection-container {
  text-align: center;
  margin: auto;
  background: f9f9f9;
}

.collection-container h2 {
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-top: 30px;
  padding-bottom: 10px;
}

.collection-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px; 
}

.collection-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px; 
  height: 350px; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.collection-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.collection-img {
  width:100%;
  height:180px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.collection-card:hover .collection-img {
  transform: scale(1.1);
}

.collection-info {
  padding: 15px;
  text-align: center;
}

.collection-info h3 {
  font-size: 22px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.collection-info p {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 10px 60px;
}

/* Shop.css */
.shop-container {
    text-align: center;
    background-color:f9f9f9;
    margin: auto;
  }
  
  .shop-container h2 {
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  
  .products-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }

  
  .product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .product-img:hover {
    transform: scale(1.1);
  }
  
  .product-info {
    padding: 15px 0;
  }
  
  .product-info h3 {
    font-size: 20px;
    color: #333;
  }
  
  .product-info p {
    font-size: 16px;
    color: #777;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
   
  .add-to-cart-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #62c067;
  }
  
  .cart-info {
    margin-top: 30px;
    font-size: 18px;
    color: #333;
  }
  
  .cart-summary p {
    font-size: 18px;
    color: #333;
  }
  
  .cart-images {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .cart-item-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-info h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    .products-flex {
      flex-direction: column;
      align-items: center;
    }
  
    .product-card {
      width: 80%;
    }
  }


  /* Offers.css */
.offers-container {
  text-align: center;
  margin:  auto;
  background-color: f9f9f9;
}

.offers-container h2 {
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-top: 30px;
  padding-bottom: 10px;
 
}

.row {
  justify-content: center;
}

.offers-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.offer-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.offer-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.offer-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.offer-card:hover .offer-img {
  transform: scale(1.11);
}

.offer-info {
  padding: 20px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.offer-info h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.offer-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.offer-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 255, 0, 0.3);
 
.green-btn {
  padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 99px;
}
  }
.green-btn:hover {
  background-color: #218838; /* Darker green on hover */
}

.offer-btn:hover {
  background-color: #68c06c;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
  transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 768px) {
  .offers-container {
    padding: 10px;
  }

  .offer-card {
    text-align: center;
  }

  .offer-img {
    max-height: 150px;
  }

  .offer-btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .offers-container {
    padding: 5px;
  }

  .offer-card {
    margin-bottom: 20px;
    margin-left: 90px;
  }

  .offer-img {
    max-height: 100px;
  }

  .offer-btn {
    font-size: 0.8rem;
  }
}


/* BlogPage.css */
.blog-page {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.blog-header {
  text-align: center;
  margin-bottom: 40px;
}

.blog-header h1 {
  font-size: 2.5rem;
  color: #333;
 
}

.blog-subtitle {
  font-size: 1.2rem;
  color: #777;
}

.blog-content {
  margin-top: 20px;
}

.blog-article {
  margin-bottom: 30px;
}

.blog-article h2 {
  font-size: 2rem;
  color: #555;
}

.blog-article p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}


/* FeedbackForm.css */
.feedback-form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(116, 196, 51, 0.1);
  text-align: center;
  background-color:f9f9f9;
  padding-top: 30px;

}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.input-group textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-btn {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

.submit-btn:hover {
  box-shadow: 0 0 15px rgba(192, 201, 192, 0.7);
  transform: scale(1.05);
}

.submit-btn.submitted {
  background-color: #66bb6a;
  box-shadow: 0 0 25px rgb(179, 209, 179);
}

.small {
  text-align: center;
  font-size: 15px;
  color:rgb(255, 255, 255);
 
  margin-top:20px
}

